*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:larger;
}
#form{
    height: 400px;
    width: 40%;
    background-color: rgb(243, 235, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
#form>.formdata{
    height: 300px;
    width: 50%;
    background-color: rgb(243, 130, 131);
    border: 1px solid rgb(243, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:20px;
    color:red;
    flex-direction: column;
    box-shadow: 0px 0px 50px ;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#form>.formdata>input{
    height: 30px; 
    border: 2px solid rgb(27, 20, 227);
    /* border: none; */
    border-radius: 10px;
    box-shadow: 0px 0px 30px;
}
#form>.formdata>label{
    height: 30px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#form>.formdata>button{
    height: 25px;
    width: 30%;
    color:white;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;

}
#table{
       height: 90vh;
       width: 100%;
       background-color: rgb(150, 174, 238);
      display:flex;
      justify-content: space-around;
      /* align-items: center;   */
}
#userdata{
    height: 250px;
    width: 200px;
    background-color: rgb(186, 188, 243);
    color: rgb(24, 13, 234);
    border: 1px  red; 
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 50px;
    /* align-items: center; */
}
#userdata>table{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#userdata>table>tr>td{

   padding: 10px;
}
#userdata>table>tr>td>button{
    background-color: rgb(243, 96, 11);
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(59, 10, 222);
    border-radius: 10%;
    border: 2px solid black;
    font-size: 15px;
    transition: 5s;
}
#userdata>table>tr>td>button:hover{
    cursor: pointer;
}
#ediuser{
    height: 200px;
    width: 250px;
    background-color: rgb(135, 235, 107);
    display: flex;
    justify-content: center;
    align-items: center;
}
#edituser>.edituserdata{
    height: 300px;
    width: 30%;
    background-color:black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height:20px;
    color:red;
    flex-direction: column;
    box-shadow: 0px 0px 30px ;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border: none;
    
}
.edituserdata>input{
    height: 25px; 
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(43, 32, 245);

}
#edituser>.edituserdata>label{
    height: 30px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
}
#edituser>.edituserdata>button{
    height: 25px;
    width: 80px;
    color:rgb(255, 255, 255);
    background-color: blue;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(92, 61, 229);
    
}

 
